.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.code-workspace

.DS_Store

data/testing/
data/testing/

# Ignore contents of data/current_inputs but keep the folder
data/current_inputs/*
!data/current_inputs/.gitkeep

# Ignore contents of data/previous_inputs but keep the folder
data/previous_inputs/*
!data/previous_inputs/.gitkeep

# Ignore contents of data/sections but keep the folder
data/sections/*
!data/sections/.gitkeep
